@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  color: #19212c;
}

a {
  text-decoration: none;
}

header, footer {
  background-color: rgb(242, 88, 32);
  color: white;
}

header {
    div {
        display: flex;
        align-items: center;
        height: 5rem;
        padding: 1rem;
    }
}

#logo {
  width: 200px;
  margin-right: 10px;
}
